

a:active
{
	color: #000000;
	text-decoration: none;
}
a:link
{
	color: #000000;
}
a:visited
{
	color: #000000;
}

a:hover
{
	color: darkred;
	text-decoration: none;
}


BODY
{
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 0px;
	padding-top: 10px;
    font: 1em Arial;
}

.bodyTable {
    padding: 14px;
    background-color: #edecd1;
    width: 98%;
    height: 100%;
}


.bodyCell {
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
}

.contentTable {
    width: 100%;
    height: 100%;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: White;
}

.contentTableShort {
    width: 100%;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: White;
}



.contentCell {
    vertical-align:top;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
}


.normal {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 1.2em
}



h1
{
	font-weight: bold;
	font-size: 1.1em;
	color: #696969;
	font-family: Times New Roman , Arial, Verdana, Helvetica, sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 1.1em;
	color: #696969;
	font-family: Times New Roman, Arial, Verdana, Helvetica, sans-serif;
}


.tabInactive {
    font-size: 0.7em;
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0px none #000000;
	background-color: #797979;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}

.tabInactive a:link {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.tabInactive a:visited {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.tabInactive a:active {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}

.tabInactive a:hover {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}

.tabActive {
    font-size: 0.7em;
	border-top: 0px none #EDECD1;
	border-right: 1px solid #EDECD1;
	border-left: 1px solid #EDECD1;
	border-bottom: 0px none #EDECD1;
	background-color: #EDECD1;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}

.tabActive a:link, .tabActive a:visited  {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
}


.adminTabActive {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	color: #696969;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 0px none #D5D291;
	background-color: #ffffff;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}

.adminTabInactive {
    font-size: 0.7em;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: #EDECD1;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}


.adminTabInactive a:link{
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}

.adminTabInactive a:visited {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}

.adminTabInactive a:active {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}


.adminTabInactive a:hover {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.adminTabActive a:link, .adminTabActive a:visited  {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}

.standardText {
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000000;
}

.gridFirstItem {
	border-top: #696969 1px solid;
	border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}

.gridItem {
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px double;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
	font-size: 0.6em;
}


.gridLastItem {
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}



.gridHeader {
	border-bottom: #696969 1px solid;
	font-weight: bold;
	font-size: 0.8em;
	color: #696969;
	font-family: Arial,  Veranda, Helvetica, sans-serif;
}

.enclosedgridItem {
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px double;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
	font-size: 0.8em;
}

.gridHeader a:active {
	color: #696969;
	text-decoration: none;
}

.gridHeader a:link {
	color: #696969;
	text-decoration: none;
}

.gridHeader a:visited {
	color: #696969;
	text-decoration: none;
}

.gridHeader a:hover {
	color: darkred;
	text-decoration: none;
}

td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

pre {
    font-size: 1em;

}

p {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #000000;
}

li 
{
	font-family: Arial,  Veranda, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

.buttonText
{
	font-size: 0.8em;
}

.enclosedbuttonText
{
	font-size: 1em;
}

.labelText
{
	font-size: 0.8em;
}

.labelHeading
{
	color: #696969;
	font-family: Times New Roman, Arial, Verdana, Helvetica, sans-serif;
}
.labelHeading2
{
	font-weight: bold;
	font-size: 1.1em;
	color: #696969;
	font-family: Times New Roman, Arial, Verdana, Helvetica, sans-serif;
}

	 